*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
  display: flex;
  background-color: #091120;
  
}
.images{
 margin-top:3rem ;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around ;
 align-items: center;
 row-gap: 3rem;
 column-gap: 1.6rem;
 width: 100%;
 
}

img{
  cursor: pointer;
  transition: 1s;
}
img:hover{
  transform: translateY(-10px);
  
}
